# Created by https://www.gitignore.io/api/jupyternotebook

### JupyterNotebook ###
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Remove previous ipynb_checkpoints
#   git rm -r .ipynb_checkpoints/
#

# Fast ai library simlink; need a different one on each computer
fastai

# End of https://www.gitignore.io/api/jupyternotebook
